
.header {
    text-align: center;
}

.campaign-card{
    width: 640px;
    height: 640px;
    margin: auto;
}

.inner-card{
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    perspective: 1000px;
    transform-style: preserve-3d;
    /* transition: transform .5s; */
}

.inner-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.inner-card.flip {
    transform: rotateY(180deg);
  }

.front-card, .back-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    height: 700px;
    margin: 0 auto;
    position: absolute;
    width: 410px;
    backface-visibility: hidden
}

.graph{
    background: silver;
    height: 30px;
    width: 380px;
    margin-top: 50px;
    margin-left: 10px;
}

.graph:after {
    content: '';
    float: left;
    display: block;
    background: purple;
    width: 17%;
    height: 100%;
    margin: 0 auto;
}

.back-card {
    transform: rotateY(180deg);
  }

.front-image{
    height: 350px;
    width: 410px;
}

.front-card-title{
    color: purple;
    margin-left: 30px;
    margin-bottom: -15px;
}

.front-card-subtitle{
    color: black;
    margin-left: 30px;
    /* padding-top: -100px; */
}

.front-card-paragraph{
    margin-left: 30px;
    margin-right: 15px;
    font-size: 20px;
    letter-spacing: .5px;
    color: grey;
}

.column1 {
    float: left;
    width: 33.33%;
    margin-top: 10px;
    /* padding: 10px; */
    padding-left: 25px;
    height: 1px;
    font-size: 17px;
}

.column2 {
    float: right;
    text-align: right;
    width: 33.33%;
    margin-top: 10px;
    /* padding: 10px; */
    padding-right: 20px;
    height: 1px;
    font-size: 17px;
}

.column3 {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
    padding-left: 25px;
    font-size: 17px;
    color: silver;
}

.column4 {
    float: right;
    text-align: right;
    width: 33.33%;
    /* padding: 10px; */
    padding-right: 20px;
    font-size: 17px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    }

.back-title{
    text-align: center;
    color: purple;
}

.back-subtitle{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 20px;
}
    
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 0.5px solid #ddd;
}

.gift-button-container {
    text-align: center;
    padding-top: 40px;
  }

  .gift-button{
    background-color: purple;
    border: none;
    color: white;
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 32px;
    height: 40px;
    width: 240px;
  }

.total-amount {
    text-align: center;
}